<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="baitkbiedak.official">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="baitkbiedak.official.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name="baitkbiedak.official.activities.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="baitkbiedak.official.activities.DetailsActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="baitkbiedak.official.activities.MainActivity" />
        </activity>
        <activity
            android:name="baitkbiedak.official.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="baitkbiedak.official.activities.Registration"
            android:parentActivityName="baitkbiedak.official.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="baitkbiedak.official.activities.MainActivity" />
        </activity>

        <service android:name="baitkbiedak.official.service.BaitkBiedakService" />
        <!-- Broadcast Receiver to handle changes in Network state -->
        <receiver android:name="baitkbiedak.official.service.BaitkBiedakService$AlarmReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
